/* 定义 S1-Font-EN-Bold.ttf 字体 */
@font-face {
  font-family: "S1-Font-EN-Bold";
  src: url("./font/en/S1-Font-EN-Bold.ttf") format("truetype");
}

/* 定义 S1-Font-EN-Heavy.ttf 字体 */
@font-face {
  font-family: "S1-Font-EN-Heavy";
  src: url("./font/en/S1-Font-EN-Heavy.ttf") format("truetype");
}

/* 定义 S1-Font-EN-Light.ttf 字体 */
@font-face {
  font-family: "S1-Font-EN-Light";
  src: url("./font/en/S1-Font-EN-Light.ttf") format("truetype");
}

/* 定义 S1-Font-EN-Medium.ttf 字体 */
@font-face {
  font-family: "S1-Font-EN-Medium";
  src: url("./font/en/S1-Font-EN-Medium.ttf") format("truetype");
}

/* 定义 S1-Font-EN-Regular.ttf 字体 */
@font-face {
  font-family: "S1-Font-EN-Regular";
  src: url("./font/en/S1-Font-EN-Regular.ttf") format("truetype");
}

/* 定义 S1-Font-EN-Ultralight.ttf 字体 */
@font-face {
  font-family: "S1-Font-EN-Ultralight";
  src: url("./font/en/S1-Font-EN-Ultralight.ttf") format("truetype");
}

/* 定义 S1-Font-CN-Bold.ttf 字体 */
@font-face {
  font-family: "S1-Font-CN-Bold";
  src: url("./font/cn/S1-Font-CN-Bold.ttf") format("truetype");
}

/* 定义 S1-Font-CN-Heavy.ttf 字体 */
@font-face {
  font-family: "S1-Font-CN-Heavy";
  src: url("./font/cn/S1-Font-CN-Heavy.ttf") format("truetype");
}

/* 定义 S1-Font-CN-Light.ttf 字体 */
@font-face {
  font-family: "S1-Font-CN-Light";
  src: url("./font/cn/S1-Font-CN-Light.ttf") format("truetype");
}

/* 定义 S1-Font-CN-Medium.ttf 字体 */
@font-face {
  font-family: "S1-Font-CN-Medium";
  src: url("./font/cn/S1-Font-CN-Medium.ttf") format("truetype");
}

/* 定义 S1-Font-CN-Regular.ttf 字体 */
@font-face {
  font-family: "S1-Font-CN-Regular";
  src: url("./font/cn/S1-Font-CN-Regular.ttf") format("truetype");
}

/* 定义 S1-Font-CN-Ultralight.ttf 字体 */
@font-face {
  font-family: "S1-Font-CN-Ultralight";
  src: url("./font/cn/S1-Font-CN-Ultralight.ttf") format("truetype");
}

/* 定义 NotoSansJP-Bold.ttf 字体 */
@font-face {
  font-family: "NotoSansJP-Bold";
  src: url("./font/jp/NotoSansJP-Bold.otf") format("truetype");
}

/* 定义 NotoSansJP-Light.otf 字体 */
@font-face {
  font-family: "NotoSansJP-Light";
  src: url("./font/jp/NotoSansJP-Light.otf") format("truetype");
}

/* 定义 NotoSansJP-Medium.ttf 字体 */
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url("./font/jp/NotoSansJP-Medium.otf") format("truetype");
}

/* 定义 NotoSansJP-Regular.ttf 字体 */
@font-face {
  font-family: "NotoSansJP-Regular";
  src: url("./font/jp/NotoSansJP-Regular.otf") format("truetype");
}

/* 定义 S1-Font-CN-Regular.ttf 字体 */
@font-face {
  font-family: "GenEiNuGothic-EB";
  src: url("./font/jp/GenEiNuGothic-EB.ttf") format("truetype");
}

// 方正正粗黑繁体.ttf S1-Font-EW-Bold.ttf
// 方正正纤黑繁体.ttf S1-Font-EW-Light.otf
// 方正正中黑繁体.ttf S1-Font-TW-Reglar.ttf
// 方正正准黑繁体.ttf S1-Font-TW-Medium.ttf

/* 定义 S1-Font-CN-Regular.ttf 字体 */
@font-face {
  font-family: "S1-Font-TW-Bold";
  src: url("./font/tw/S1-Font-TW-Bold.ttf") format("truetype");
}

/* 定义 S1-Font-CN-Regular.ttf 字体 */
@font-face {
  font-family: "S1-Font-TW-Light";
  src: url("./font/tw/S1-Font-TW-Light.ttf") format("truetype");
}

/* 定义 S1-Font-CN-Regular.ttf 字体 */
@font-face {
  font-family: "S1-Font-TW-Regular";
  src: url("./font/tw/S1-Font-TW-Regular.ttf") format("truetype");
}

/* 定义 S1-Font-CN-Regular.ttf 字体 */
@font-face {
  font-family: "S1-Font-TW-Medium";
  src: url("./font/tw/S1-Font-TW-Medium.ttf") format("truetype");
}