.zh-cn {
  .font-family-bold {
    font-family: "S1-Font-CN-Bold";
  }

  .font-family-heavy {
    font-family: "S1-Font-CN-Heavy";
  }

  .font-family-light {
    font-family: "S1-Font-CN-Light";
  }

  .font-family-medium {
    font-family: "S1-Font-CN-Medium";
  }

  .font-family-regular {
    font-family: "S1-Font-CN-Regular";
  }

  .font-family-ultralight {
    font-family: "S1-Font-CN-Ultralight";
  }
}

.en-us {
  .font-family-bold {
    font-family: "S1-Font-EN-Bold";
  }

  .font-family-heavy {
    font-family: "S1-Font-EN-Heavy";
  }

  .font-family-light {
    font-family: "S1-Font-EN-Light";
  }

  .font-family-medium {
    font-family: "S1-Font-EN-Medium";
  }

  .font-family-regular {
    font-family: "S1-Font-EN-Regular";
  }

  .font-family-ultralight {
    font-family: "S1-Font-EN-Ultralight";
  }
}

.ja-jp {
  .font-family-bold {
    font-family: "NotoSansJP-Bold";
  }

  .font-family-light {
    font-family: "NotoSansJP-Light";
  }

  .font-family-medium {
    font-family: "NotoSansJP-Medium";
  }

  .font-family-regular {
    font-family: "NotoSansJP-Regular";
  }

  // font-family: "NotoSansJP-Medium";
}

.zh-tw {
  .font-family-bold {
    font-family: "S1-Font-TW-Bold";
  }

  .font-family-light {
    font-family: "S1-Font-TW-Light";
  }

  .font-family-medium {
    font-family: "S1-Font-TW-Medium";
  }

  .font-family-regular {
    font-family: "S1-Font-TW-Regular";
  }
}